﻿@page
@model Otus.Teaching.Pcf.WebRazor.Pages.Partners.Index

@{
    ViewData["Title"] = "Партнёры";
}


<h3>Партнёры</h3>

<div class="m-2">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя партнёра</th>
            <th>Активность партнёра</th>
            <th>Количество выданных кодов</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var partner in Model.Partners)
        {
            <tr>
                <td>@partner.Id</td>
                <td>@partner.Name</td>
                <td>@partner.IsActive</td>
                <td>@partner.NumberIssuedPromoCodes</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-page="/Promocodes/Create" asp-route-partnerId="@partner.Id">Создать новый промокод</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
