﻿@page
@model Otus.Teaching.Pcf.WebRazor.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Создание покупателя";
}

<h3>Создать нового покупателя</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.FirstName"></label>
        <input class="form-control" asp-for="Input.FirstName"/>
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.LastName"></label>
        <input class="form-control" asp-for="Input.LastName"/>
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input class="form-control" asp-for="Input.Email"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.SelectedValues">Выберите предпочтения</label>
        <select class="form-control " asp-for="Input.SelectedValues" asp-items="Model.ListItems"></select>
        <span asp-validation-for="Input.SelectedValues" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>