﻿@page "{id}"
@model Otus.Teaching.Pcf.WebRazor.Pages.Customers.Details


<h3>Предпочтения</h3>

<h4>@Model.Customer.FirstName @Model.Customer.LastName (@Model.Customer.Email) </h4>
<div>
    <table class="table table-borderless table-striped">
        <tbody>
        @foreach (var pref in Model.Customer.Preferences)
        {
            <tr>
                <td class="text-left">@pref.Id</td>
                <td class="text-left"> @pref.Name</td>
            </tr>
        }
        </tbody>
    </table>

</div>