﻿@page "{partnerId}"
@model Otus.Teaching.Pcf.WebRazor.Pages.Promocodes.Create

@{
    ViewData["Title"] = "Создать промокод";
}

<h3>Создать новый промокод</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="Input.ServiceInfo"></label>
        <input class="form-control" asp-for="Input.ServiceInfo"/>
        <span asp-validation-for="Input.ServiceInfo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PromoCode"></label>
        <input class="form-control" asp-for="Input.PromoCode"/>
        <span asp-validation-for="Input.PromoCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PreferenceId"></label>
        <select class="form-control" asp-items="Model.ListItems" asp-for="Input.PreferenceId"></select>
        <span asp-validation-for="Input.PreferenceId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Создать и выдать промокод</button>
</form>