﻿@page
@model Promocodes.Index

@{
    ViewData["Title"] = "Промокоды";
}

<h3>Выданные промокоды</h3>
<div class="m-2">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Промокод</th>
            <th>Инфо</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>ID партнёра</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var promocode in Model.Promocodes)
        {
            <tr>
                <td>@promocode.Id</td>
                <td>@promocode.Code</td>
                <td>@promocode.ServiceInfo</td>
                <td>@promocode.BeginDate</td>
                <td>@promocode.EndDate</td>
                <td>@promocode.PartnerId</td>
            </tr>
        }
        </tbody>
    </table>
</div>